@using WebMatrix.Data;
@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Basedata.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    bool bericht1 = false;
    bool bericht2 = false;
    bool bericht3 = false;
    bool bericht4 = false;

    if (IsPost)
    {
        var username = Request.Form["username"];
        var password = Request.Form["password"];

        if (username == "" && password == "")
        {
            bericht2 = true;
        }
        if (username == "" && password != "")
        {
            bericht3 = true;
        }
        if (username != "" && password == "")
        {
            bericht4 = true;
        }
        if (username != "" && password != "")
        {
            string select = "SELECT * FROM [user] WHERE username = @0 AND password = @1";
            var resultaat = db.QuerySingle(select, username, password);
            if (resultaat != null)
            {
                Session["id"] = resultaat.Id;
                Session["username"] = resultaat.username;
                Response.Redirect("~/index.cshtml");
            }
            else if (username != "" && password != "")
            {
                string select2 = "SELECT * FROM [user] WHERE username = @0 AND password = @1";
                var resultaat2 = db.Query(select2, username, password);
                if (resultaat2.Count() == 0 && username != "" && password != "")
                {
                    bericht1 = true;
                }
            }
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hebberige Bruiden - Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Begin Navbar -->	<!-- Render Navbar -->
    @RenderPage("~/Shared/_Navbar.cshtml")
    <div class="container">
        <form class="form-horizontal" role="form" method="POST" action="/login">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Please Login</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="username">Username</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" name="username" class="form-control" id="username"
                                   placeholder="Henk en Ingrid" value="@Request.Form["username"]" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="password">password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Password" value="@Request.Form["password"]" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            @if (bericht1 == true)
                            {
                                <h3>Wrong password.</h3>
                            }
                            @if (bericht2 == true)
                            {
                                <h3>You should probably try to login.</h3>
                            }
                            @if (bericht3 == true)
                            {
                                <h3>username is empty.</h3>
                            }
                            @if (bericht4 == true)
                            {
                                <h3>password is empty.</h3>
                            }
                        </span>
                    </div>
                </div>
                <div class="row" style="padding-top: 1rem">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="padding-left: 77%">
                        <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Render Footer-->
    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
